:root {
  --ms-bg-color-secondary: #2c3e50;
  --ms-bg-color-primary: #1abc9c;
  --ms-bg-color-tertiary: #3a546d;
  --ms-text-color-primary: white;
  --ms-text-color-secondary: #2b2b2b;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

input, textarea {
    border: none;
    border-bottom: 1px solid var(--ms-text-color-secondary);
}

li {
  display: inline-block;
  margin: 0 0.2rem;
}

section:nth-child(odd) {
  background-color: var(--ms-bg-color-primary);
  color: var(--ms-text-color-primary);
}

section:nth-child(even) .fg-divider:before,
section:nth-child(even) .fg-divider:after {
  background-color: var(--ms-text-color-secondary);
}

/*#region Utilities*****/
.fg-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem 0;
}
.fg-divider:before,
.fg-divider:after {
  content: "";
  background-color: var(--ms-text-color-primary);
  width: 30%;
  height: 3px;
  margin: 0 1rem;
}

a {
  text-decoration: none;
}

.fg-btn-primary {
  background-color: var(--ms-bg-color-primary);
  color:var(--ms-text-color-primary);
  border-color: var(--ms-bg-color-primary);
}


.fg-btn-secondary {
  border-color: var(--ms-text-color-primary);
  color: var(--ms-text-color-primary);
}
/*#endregion Utilities*****/

/*#region Header*****/
header {
  background-color: var(--ms-bg-color-secondary);
  color: var(--ms-text-color-primary);
  padding: 1rem;
}

header h1 {
  font-weight: bold;
}

header a {
  color: var(--ms-text-color-primary);
  text-transform: uppercase;
}
nav > a {
  padding: 0.5rem;
}
/*#endregion Header*****/

/*#region MAIN*****/
.download::before {
  content: "\F30A";
  margin-right: 0.2rem;
}

#form > form > div {
  margin-top: 2.5rem
}
/*#endregion MAIN*****/

/*#region FOOTER*****/
footer {
  background-color: var(--ms-bg-color-secondary);
  color: white;
}

.fg-upperFoot {
  background-color: var(--ms-bg-color-tertiary);
}

.fg-around a::before {
  color: white;
  border-radius: 50%;
  border: 1px solid var(--ms-text-color-primary);
  text-align: center;
  padding: 10px;
}
.fg-around > div {
  column-gap: 0.8rem;
  justify-content: center;
}

footer a {
  color: var(--ms-bg-color-primary);
}
/*#endregion FOOTER*****/
